/* Revised 6/25/2020 11:37PM */
@import "miamineon.css";
@import "main.css";

div#label ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

div#label ul li {
    display: inline-block;
    padding:
}

div#label ul li span.key {
    background-color: var(--clr-accent-a-alt);
    color: var(--clr-accent-b);
}

div#label ul li span.value {
    background-color: var(--clr-accent-b-alt);
    color: var(--clr-accent-a);
}
