/* Revised 6/22/2020 7:21 PM */
@import "miamineon.css";

#flex-center {
    position: absolute;
    left: 20%;
    margin: auto;
    width: 60%;
    padding-bottom: 60px;
}
#fixed < {
    max-width:100%;
}
.highlight {
    padding: 2px;
}
.highlight * {
    margin: 0;
}
#flex-left {
    position: absolute;
    width: 15%;
    max-width: 15%;
    left: 2.5vw;
    background-color: rgba(95, 135, 95, 0.4);
}
img.icon {
    background-color: rgba(135, 255, 0, 0.3);
}
#flex-right {
    position: absolute;
    height: 20%;
    width: 15%;
    max-width: 15%;
    right: 2.5vw;
    background-color: rgba(95, 135, 95, 0.4);
}
.icontooltip .icontooltiptext {
  visibility: hidden;
  width: 70%;
  top: 40%;
  left: 15%;
}
#proj-overview {
    color: var(--clr-plaintext); 
    background: #1c1b1a;
    padding: 8px;
    border: 2px solid #666462;
}
#proj-overview h3 {
    color: #87ffa7;
}
#proj-overview #description * {
text-align: left;
}
#proj-overview .subpages a {
    text-decoration: none;
    color: #d75f00;
}
#proj-overview .subpages a:hover { background: rgba(215,215,255,0.4); }

#project-links {
    width:70%;
    margin-left: 15%;
    margin-right:15%;
}
#project-links td {
}
.highlight { border: 2px solid #666462; }
#project-links * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #d7d7ff; 
    width: 45%;
}
