/* Revised 5/28/2020 5:17 AM */
@import "main.css";
.icontooltip {
  position: relative;
  display: inline-block;
}

.icontooltip .icontooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the.icontooltip */
  position: absolute;
  z-index: 1;
}

.icontooltip:hover .icontooltiptext {
  visibility: visible;
}

.icontooltip a {
    text-decoration: none;
}

.icontooltim img {
    border: 0 none;
}
