/* Revised 6/13/2020 7:00 PM */
@import "miamineon.css";

#flex-center {
    position: absolute;
    left: 20%;
    margin: auto;
    width: 60%;
    padding-bottom: 60px;
}
#fixed < {
    max-width:100%;
}
.highlight {
    padding: 2px;
}
.highlight * {
    margin: 0;
}
#flex-left {
    position: absolute;
    width: 15%;
    max-width: 15%;
    left: 2.5vw;
    background-color: rgba(95, 135, 95, 0.4);
}
img.icon {
    background-color: rgba(135, 255, 0, 0.3);
}
#flex-right {
    position: absolute;
    height: 20%;
    width: 15%;
    max-width: 15%;
    right: 2.5vw;
    background-color: rgba(95, 135, 95, 0.4);
}
.icontooltip .icontooltiptext {
  visibility: hidden;
  width: 70%;
  top: 40%;
  left: 15%;
}
#replFrame {
    max-width:100%;
    margin-bottom: 1%;
    padding-top: 4px;
}
.replFrame.replLabel {
    position: relative;
    color: #1c1b1a;
    background: #87ff00;
    border: 2px solid #d7005f;
    visibility: hidden;
    width: fit-content;
    padding: 2px 2px 2px 2px;
    left: -32.5%;
}
.replFrame:hover .replLabel {
    visibility: visible;
}

#replFrame iframe {
    width: 100%;
}
figure {
    margin: 0;
}

.code{ background: #666462; } 


.code .label {
    display: inline;
    position: relative;
    top: -2px;
    padding: 2px;
    color: #00ff00;
    background: #1c1b1a;
    border: 2px solid #666462;
    border-radius: 5px;
}
.code a {
    color: #d75f00;
}
#code-label-type
{
    right: -86.5%;
}
#code-label-title
{
    left: -12.5%;
}

#software-links {
    width:70%;
    margin-left: 15%;
    margin-right:15%;
}
#software-links td {
}

#software-links * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #d7d7ff; 
    width: 45%;
}
