@import "main.css";
.icontooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.icontooltip .icontooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the.icontooltip */
  position: absolute;
  z-index: 1;
}

.icontooltip:hover .icontooltiptext {
  visibility: visible;
}
