/* 
 * Stylesheet revised: Mon Jun 29, 2020  06:00PM
 * */
@import "miamineon.css";
@import "main.css";

div#label ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

div#label ul li {
    display: inline-block;
    padding:
}

div#label ul li span.key, div#label ul li span.key * {
    background-color: var(--clr-accent-a-alt);
    color: var(--clr-accent-b);
}

div#label ul li span.value, div#label ul li span.value * {
    background-color: var(--clr-accent-b-alt);
    color: var(--clr-accent-a);
}

div#content-wrap {
    display: flex;
    flex-flow: wrap column;
}

div#content-wrap main div#subtiles {
    display: flex;
    --min-wdth: 350px;
}

div#content-wrap main div#subtiles .subtile {
    flex-shrink: 1;
    flex-basis: 50%;
}

div#id-info img {
    width: 3em;
    height: auto;
}


/* Fill in Minimum subtile width * no of subs vv */
@media screen and (max-width: 700px){
    div#content-wrap main div#subtiles {
        flex-flow: wrap column;
    }
}
@media screen and (min-width: 700px){
    div#content-wrap main div@subtiles {
        flex-flow: wrap row;
        width: 50%;
    }
}
