/* Revised 6/13/2020 6:59 PM */
@import "miamineon.css";
@import "main.css";

.highlight {
    overflow-x: auto;
    display: flex;
    border: 2px solid #666462;
}
.highlight * {
    margin: 0;
    flex: 1;
}
#flex-left {
}
img.icon {
}
#flex-right {
}
.icontooltip .icontooltiptext {
  visibility: hidden;
  width: 70%;
  top: 40%;
  left: 15%;
}
figure {
    margin: 0;
}

.file{ } 


.file .label {
}
.file a {
}
.filebody {
}
#file-label-type
{
}
#file-label-title
{
}

#file-links {
}
#file-links td {
}

#file-links * {
}
