/* Stylesheet revised: 6/22/2020 10:08 AM */
@font-face {
    font-family: Hack;
    src: url('../resources/fonts/Hack-Regular.ttf');
    font-family: Hurmit-NF;
    src url('../resources/fonts/Hurmit-NF.otf')
}

/* debug */
div { outline: 1px dashed yellow }
span { outline: 1px dashed red }

* { box-sizing: border-box; }
html {
    background-color: #696e77;
    font-family: Hack;
    overflow-x: hidden;
}

html { overflow-y: hidden; }
#body { overflow-y: visible; }
body {
    margin: 0;
    flex: auto;
}
header ul.bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d5057;
}
header ul.bar li {
    display: inline-block;
}
header ul.bar li a {
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    display: block;
    text-decoration: none;
    font-family: Arial;
}
li.nav-home {
    float: left;
    color: #4d5057;
    background-color: #87ff00;
}
li.nav-link {
    float: left;
    background-color: #4d5057;
    width: auto;
}
li.nav-link:hover{
    background-color: #e2e2e2;
}
li.nav-icon {
    float: right;
    color: #4d5057;
    background-color: #f62dae;
}
span#nav a {
    font-family: Arial;
    color: #e2e2e2;
    background: #4d5057;
    width: fit-content;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
}
span#nav a:hover{
    color: #bbbac6;
}
#body {
    padding-bottom: 5vh;
}
#content-wrap {
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4vh;
}
#feed {
    margin-left: 8px;
    margin-right: 8px;
}
#feed a {
    width: fit-content;
}
#feed div.blurb{ 
    position: relative;
    align: center;
    width: 95%;
    padding: 2.5%;
}

#footer {
    color: #d7d7ff;
    padding-top:  2.5rem-44px;
    padding-left: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer a {
    color: #d7005f;
}
#hoverbox { width: fit-content; }
#hoverbox:hover #main-sitetitle { visibility: hidden; }
#hoverbox:hover #alt-sitetitle { visibility: visible; }
#header {
    background: #4d5057;
}
#main-sitetitle { 
    position: relative;
    visibility: visible; 
}
#page-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#page-container {
    position: relative;
    min-height: 95vh;
    width: 85%;
    position: center;
    margin-left: 7.5%;
    margin-right: auto;
    overflow-y: auto;
}
#page-body td, table, th {
    border-collapse: collapse;
    color: #d7ff00;
    border: 2px solid #d7d7ff;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}
#page-body td a {
    color: #87ffa7;
}
.center {
    display: block;
    margin-left: auto;
    width: 99%;
}
.center p {
    text-align: center;
}
.contains-flex {
    display: flex;
    height: auto;
    width: auto;
}
.feed.spacer{
    padding: 4px 4px 4px 4px;
    height: 2vh;
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
}
.flex {
    flex: 1;
}
.icontooltip {
    position: relative;
}
.icontooltip .icontooltiptext {
    visibility: hidden;
    width: 90%;
    color: #0f0;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -5%;
    left: 5%;
    position: absolute;
    z-index: 1;
}
.icontooltip:hover .icontooltiptext {
    visibility: visible;
}
.icontooltip a {
    text-decoration: none;
}
.icontooltip img {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.left {
    font-align: left;
}
.page-header {
    color: #87ff00;
}
.right {
    font-align: right;
}
.title {
    text-align: center;
}

