/* Stylesheet revised: 5/28/2020 3:41 PM */
@font-face {
    font-family: Hack;
    src: url('../resources/fonts/Hack-Regular.ttf');
}
/* debug */
div { outline: 1px dashed yellow } 
span { outline: 1px dashed red }

html {
    background-color: #1c1b1a;
    font-family: Hack;
    overflow-x: hidden;
}

body {
    margin: 0;
}

#body {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: url('../resources/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#body > * {
}

#header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    color: #d7ff00;
}

#page-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top; 10px; padding-bottom: 10px;
    background: rgba(28,27,26,.8);
}

.page-header {
    color: #87ff00;
}

#page-container {
    position: relative;
    min-height: 95vh;
}

#content-wrap {
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2.5rem;
    /* Footer height */
}

#page-body td, table, th {
    background: rgba(135,255,0,0.2);
    border-collapse: collapse;
    color: #d75f00;
    border: 2px solid #d7d7ff;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

#footer {
    color: #d7d7ff;
    padding-top: 44px;
    padding-left: 4px;
    background: rgba(95, 135, 95, 0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}

#footer a {
    color: #d7005f;
}

.flex {
    flex-grow=1; }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contains-flex {
    display: flex;
}

.title {
    text-align: center;
}
