/* Stylesheet revised: 6/1/2020 3:42 PM */
@font-face {
    font-family: Hack;
    src: url('../resources/fonts/Hack-Regular.ttf');
    font-family: Hurmit-NF;
    src url('../resources/fonts/Hurmit-NF.otf')
}
/* debug */
div { outline: 1px dashed yellow } 
span { outline: 1px dashed red }

html {
    background-color: #1c1b1a;
    font-family: Hack;
    overflow-x: hidden;
}

html { overflow-y: hidden; }
#body { overflow-y: auto; }
body {
    margin: 0;
    flex: auto;
}

p, span, .text{

font-size: .9vw;
color: #87ff00;

}

h3 {
    font-size: 1.6vw;
}


#body {
    background: url('../resources/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding-bottom: 5vh;
}

#header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    color: #d7ff00;
}

#page-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(28,27,26,.8);
}

.page-header {
    color: #87ff00;
}

#page-container {
    position: relative;
    min-height: 95vh;
}

#content-wrap {
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

#page-body td, table, th {
    background: rgba(95,135,95,0.3);
    border-collapse: collapse;
    color: #d7ff00;
    border: 2px solid #d7d7ff;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}
#page-body td a {
    color: #87ffa7;
}

#footer {
    color: #d7d7ff;
    padding 2.5rem;-top: 44px;
    padding-left: 4px;
    background: rgba(95, 135, 95, 0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer a {
    color: #d7005f;
}

.flex {
    flex: 1;
}

.center {
    display: block;
    margin-left: auto;
    width: 99%;
}
.center p {
    text-align: center;
}

.contains-flex {
    display: flex;
    height: auto;
    width: auto;
}

.title {
    text-align: center;
}
