---
layout: default
title: keelbeelveel.com | Projects
description: keelbeelveel.com Projects page
revised: Mon. June 13th, 2020, 3:27 PM
---
<div id="page-header" class="page-header">
    <p>
        After being stuck inside for so long, I decided to start working on a more permanent home for the projects I create.
    </p>
</div>
<div id="page-body" class="page-body">
<table class="page-body">
    <tr>
        <th scope="col" class="project_icon"></th>
        <th scope="col" class="project_title">Project:</th>
        <th scope="col" class="project_desciption">Description:</th>
        <th scope="col" class="project_page"></th>
        <th scope="col" class="github_page"></th>
    </tr>
    {% include table_entry/binary_clock.html %}
    {% include table_entry/miamineon.html %}
    {% include table_entry/timetoBinary.html %}
</table>
</div>
