<!-- Header revised 6/13/2020 2:24 PM -->
<div id="header" class="header">
    <header class="header">
        <div id="titlebar" class="contains-flex">
            <div id="site-title" class="flex">
                <div id="hoverbox">
                    <div id="main-sitetitle" class="sitetitle"><h1>
                            <span style="color: #d7005f">k</span><span style="color: #d7d7ff">eel</span><span style="color: #d75f00">b</span><span style="color: #d7d7ff">eel</span><span style="color: #d7ff00">v</span><span style="color: #d7d7ff">eel</span><span style="color: #87ff00">.com</span>
                        </h1></div>
                        <div id="alt-sitetitle" class="sitetitle"><a href="/about.html"><h1>
                                    <span style="color: #d7005f">k</span><span style="color: #d7d7ff">yle</span><span style="color: #d75f00">b</span><span style="color: #d7d7ff">el</span><span style="color: #d7ff00">v</span><span style="color: #d7d7ff">eal</span>
                                </h1></a></div>

                </div>
            </div>
            <div id="pagesubtitle" class="flex right">
                <h2 class="pagesubtitle">
                    <a href="/testpage.html">
                        i made dis
                    </a>
                </h2>
            </div>
        </div>
        <nav class="nav">
            <div id="nav" class="nav">
                <a class="nav" href = "/index.html">Home</a>
                <a class="nav" href = "/hardware.html">Hardware</a>
                <a class="nav" href = "/midware.html" >Midware</a>
                <a class="nav" href = "/software/software.html">Software</a>
                <a class="nav" href = "/projects/projects.html">All Projects</a>
                <a class="nav" href = "/about.html">About</a>
            </div>
        </nav>
    </header>
</div>
