<!-- Header revised 6/22/2020  5:14 PM -->
<div id="header" class="header">
    <header class="header">
        <ul class="bar">
            <li class="nav-home">
                <a href="/index.html">
                    <img src="/resources/icons/home.png"/>
                </a>
            </li>
            <li class="nav-link">
                <a href="/hardware.html">
                    <span class"lbl">
                        Hardware
                    </span>
                </a>
            </li>
            <li class="nav-link">
                <a href="/midware.html">
                    <span class="lbl">
                        Midware
                    </span>
                </a>
            </li>
            <li class="nav-link">
                <a href="/software/software.html">
                    <span class="lbl">
                        Software
                    </span>
                </a>
            </li>
            <li class="nav-link">
                <a href="/projects/projects.html">
                    <span class="lbl">
                        All Projects
                    </span>
                </a>
            </li>
            <li class="nav-icon">
                <a href="">
                    <img src="/resources/icons/contact.png"/>
                </a>
            </li>
            <li class="nav-icon">
                <a href="https://github.com/keelbeelveel">
                    github
                </a>
            </li>
            <li class="nav-icon">
                <a href="https://www.linkedin.com/in/keelbeelveel/">
                    linkedin
                </a>
            </li>
            <li class="nav-icon">
                <a href="www.google.com">
                    <img src="/resources/icons/mailto.png"/>
                </a>
            </li>
        </ul>
    </header>
</div>
