<!-- Header revised 6/22/2020  9:57 AM -->
<div id="header" class="header">
    <header class="header">
        <ul class="bar">
            <li class="nav-home">
                <a href="/index.html">HOME ICON</a>
            </li>
            <li class="nav-link">
                <a href="/hardware.html">Hardware</a>
            </li>
            <li class="nav-link">
                <a href="/midware.html">Midware</a>
            </li>
            <li class="nav-link">
                <a href="/software/software.html">Software</a>
            </li>
            <li class="nav-link">
                <a href="/projects/projects.html">All Projects</a>
            </li>
            <li class="nav-icon">
                <a href="">
                    contact info
                </a>
            </li>
            <li class="nav-icon">
                <a href="https://github.com/keelbeelveel">
                    github
                </a>
            </li>
            <li class="nav-icon">
                <a href="https://www.linkedin.com/in/keelbeelveel/">
                    linkedin
                </a>
            </li>
            <li class="nav-icon">
                <a href="">
                    mailto
                </a>
            </li>
        </ul>
    </header>
</div>
