<div class="blurb">
    <div class="headline text">
        <span class="title"></span>
        <time></time>
        <span class="siteversion"></span>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus lectus ut augue tincidunt, sed gravida sapien viverra. Integer eleifend semper eros. Sed volutpat et mi nec vehicula. Cras quis tortor magna. Aliquam a urna id libero hendrerit pellentesque. Maecenas tristique varius diam ut mattis. Cras interdum varius ligula nec aliquet. Etiam nec sapien iaculis, auctor purus ac, porttitor nisl. Duis scelerisque ullamcorper sem, sed porta eros sodales sit amet. In condimentum nunc sit amet feugiat faucibus. Nulla cursus vulputate accumsan. Proin urna velit, tincidunt posuere pretium non, suscipit quis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec non faucibus risus.
    </p>
</div>
