<div class="blurb">
    <div class="headline text">
        <span class="title"></span>
        <time></time>
        <span class="siteversion"></span>
    </div>
    <p>
        I've put a lot of work into honing my CSS skills to make sure this site is done right. Unfortunately, doing things the right way means results come muc slower than the "quick-n-dirty" approach. Today I have published the first major overhaul of the website. You have probably already noticed that it is very incomplete. Many elements are also currently occupied with placeholders and other garbage as I continue to refine my design. Feel free to look around, but don't expect a well oiled machine. More is to come!
    </p>
</div>
