<!--
    Template revised: Mon Jun 29, 2020  06:06PM
-->
<span class="code_type">
    <span class="specialtext code_type">
        <a href="{{ include.typeref }}">
            {{ include.type }}
        </a>
    </span>
    <div class="code_info">
        <span class="label">
            {{ include.type }}
        </span>
        <span>
            {{ include.typedesc }}
        </span>
        <hr/>
        <span>
            <span class="type">{{ include.type }}</span>
            files can be edited with 
            <span class="program">
                <a href="{{ include.progref }}">
                    {{ include.program }}
                </a>
            </span>.
        </span>
    </div>
</span>
