<!-- Entry Data Revised 6/26/2020 2:15pm -->
{% include code_types/code_template.html
type="Verilog"
typeref="https://en.wikipedia.org/wiki/Verilog"
typedesc="Verilog is a hardware description language (HDL). It is used to describe and work with digital circuits such that the circuits can be compiled and simulated by a computer. Used to easily prototype and test logic designs on FPGA or other programmable hardware.
Program="Quartus"
progref="https://www.intel.com/content/www/us/en/software/programmable/quartus-prime/overview.html"
%}
