<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- Link to main stylesheet-->
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="Kyle Belveal, keelbeelveel, computer science, computer engineering, computer, CS, CE, EECS, electrical engineering, engineering, projects, project, python, c++, html, css, verilog, {{ page.keywords }}"/>
        <meta name="author" content="Kyle Belveal"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="revised" content="{{ page.revised }}"/>
        <!-- Layout type - default           -->
        <!-- Layout revised 5/28/2020 2:51pm -->
    </head>
    <div id="body">
        <body>
            <div id="page-container">
                <div id="header" class="header">
                    <header class="header">
                        <h1>Kyle Belveal's project site</h1>
                        <div id="nav" class="nav">
                            <nav class="nav">
                                <h3 class ="nav">
                                    <a class="nav" href = "/index.html">Home</a>
                                    <a class="nav" href = "/projects/projects.html">Projects</a>
                                    <a class="nav" href = "/hardware.html">Hardware</a>
                                    <a class="nav" href = "/midware.html" >Midware</a>
                                    <a class="nav" href = "/software/software.html">Software</a>
                                    <a class="nav" href = "https://delaware.gov/" target = "_blank">Delaware</a>
                                </h3>
                            </nav>
                        </div>
                    </header>
                </div>
                <div id="content-wrap" class="content-wrap">
                    <main>
                        <section>
                            {{ content }}
                        </section>
                    </main>
                </div>
            </div>
            <div id="footer" class="footer">
                <footer>
                    <span> Powered By
                        <a style="color:#d7005f" href="https://github.com/keelbeelveel/keelbeelveel.github.io">
                            GitHub
                        </a>
                    </span>
                </footer>
            </div>
        </body>
</html>
