<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/infoex.css"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="Kyle Belveal, keelbeelveel, computer science, computer engineering, computer, CS, CE, EECS, engineering, projects, project, {{ page.keywords }}"/>
        <meta name="author" content="Kyle Belveal"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="revised" content="{{ page.revised }}"/>
        <!-- Layout type = info_executable   -->
        <!-- Layout revised 5/28/2020 10:00pm -->
    </head>
        <body>
    <div id="body" class="contains-flex">
            <div id="page-container"i class="flex">
                <div id="header" class="header">
                    <header class="header">
                        <h1>Kyle Belveal's project site</h1>
                        <div id="nav" class="nav">
                            <nav class="nav">
                                <h3 class ="nav">
                                    <a class="nav" href = "/index.html">Home</a>
                                    <a class="nav" href = "/projects/projects.html">Projects</a>
                                    <a class="nav" href = "/hardware.html">Hardware</a>
                                    <a class="nav" href = "/midware.html" >Midware</a>
                                    <a class="nav" href = "/software/software.html">Software</a>
                                    <a class="nav" href = "https://delaware.gov/" target = "_blank">Delaware</a>
                                </h3>
                            </nav>
                        </div>
                    </header>
                </div>
                <main>
                    <div id="content-wrap" class="content-wrap contains-flex">
                        <div id="flex-left" class="flex left">
                            <div id="page-header" class="page-header">
                                <h3 class="page-header">
                                    <div class="center">
                                        <div class="icontooltip">
                                            <a href="{{ page.icon-href }}">
                                                <img src="{{ page.icon}}" alt="Icon" class="icon">
                                            </a>
                                            <span class="icontooltiptext text">
                                                {{ page.type }}
                                            </span>
                                        </div>
                                    </div>
                                    <div id="page-title" class="page-header title">
                                        {{ page.sw-title }}
                                    </div>
                                </h3>
                                <span id="page-desc" class="page-header">
                                    <h4 class="page-header">
                                        {{ page.sw-desc }}
                                    </h4>
                                </span>
                            </div>
                            <table class="software-links text">
                                {{ page.links }}
                            </table>
                        </div>
                        <div id="flex-center" class="flex center">
                            <div id="" class="code {{ page.code-type }}">
                                {{ content }}
                                <div class="code label text">
                                    {{ page.type }}
                                </div>
                            </div>
                        </div>
                        <div id="flex-right" class="flex right">
                            <div id="replFrame" class="replFrame flex">
                                <p>
                                    Click "Run" to see this script in action!
                                </p>
                            <div class="replFrame flex">
                                {{ page.frame }}
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF PAGE CONTENT -->
                </main>
            </div>
            <div id="footer" class="footer">
                <footer>
                    <span> Powered By
                        <a style="color:#d7005f" href="https://github.com/keelbeelveel/keelbeelveel.github.io">
                            GitHub
                        </a>
                    </span>
                </footer>
            </div>
    </div>
        </body>
</html>
