<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/infoex.css"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="Kyle Belveal, keelbeelveel, computer science, computer engineering, computer, CS, CE, EECS, engineering, projects, project, {{ page.keywords }}"/>
        <meta name="author" content="Kyle Belveal"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="revised" content="{{ page.revised }}"/>
        <!-- Layout type = info_executable   -->
        <!-- Layout revised 5/29/2020  1:23pm -->
    </head>
    <div id="body">
        <body>
            <div id="page-container">
                <div id="header" class="header">
                    <header class="header">
                        <h1>Kyle Belveal's project site</h1>
                        <div id="nav" class="nav">
                            <nav class="nav">
                                <h3 class ="nav">
                                    <a class="nav" href = "/index.html">Home</a>
                                    <a class="nav" href = "/projects/projects.html">Projects</a>
                                    <a class="nav" href = "/hardware.html">Hardware</a>
                                    <a class="nav" href = "/midware.html" >Midware</a>
                                    <a class="nav" href = "/software/software.html">Software</a>
                                    <a class="nav" href = "https://delaware.gov/" target = "_blank">Delaware</a>
                                </h3>
                            </nav>
                        </div>
                    </header>
                </div>
                <main>
                    <div id="content-wrap" class="content-wrap contains-flex">
                        <div id="fixed-left">
                            <div id="page-header" class="page-header">
                                <h3 class="page-header">
                                    <div class="center">
                                    <div class="icontooltip">
                                        <a href="{{ page.icon-href }}">
                                            <img src="{{ page.icon}}" alt="Icon" class="icon">
                                        </a>
                                        <span class="icontooltiptext">
                                            {{ page.type }}
                                        </span>
                                    </div>
                                    </div>
                                    <div id="page-title" class="page-header title">
                                        {{ page.sw-title }}
                                    </div>
                                </h3>
                                <span id="page-desc" class="page-header">
                                    <h4 class="page-header">
                                        {{ page.sw-desc }}
                                    </h4>
                                </span>
                            </div>
                        </div>
                        <div id="flex-right" class="flex">
                            <div id="page-body">
                                <table class="software-links">
                                    {{ page.links }}
                                </table>
                                <p>
                                    Click "Run" to see this script in action!
                                </p>
                            </div>
                            <div id="page-import">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                    <!-- END OF PAGE CONTENT -->
                </main>
            </div>
            <div id="footer" class="footer">
                <footer>
                    <span> Powered By
                        <a style="color:#d7005f" href="https://github.com/keelbeelveel/keelbeelveel.github.io">
                            GitHub
                        </a>
                    </span>
                </footer>
            </div>
        </body>
    </div>
</html>
