<!DOCTYPE HTML>
<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/css/infobs.css"/>
        <link rel="icon" href="/resources/icons/favicon{{ page.favicon }}.png" type="image/png"/>
        <meta name="keywords" content="Kyle Belveal, keelbeelveel, computer science, computer engineering, computer, CS, CE, EECS, engineering, projects, project, {{ page.keywords }}"/>
        <!-- Layout type = info_basic        -->
        <!-- Layout revised 6/25/2020 11:21pm -->
    </head>
    <body>
        {% if page.banner %}
        {% capture page_banner %}{{ page.banner }}{% endcapture %}
        {% include header.html banner=page_banner %}
        {% else %}
        {% include header.html %}
        {% endif %}
        <div id="body" class="contains-flex">
            <div id="page-container" class="flex">
                <main>
                    <div id="label">
                        <ul>
                            <li>
                                <img src="{{ page.icon}}" alt="Icon" class="icon">
                            </li>
                            <li>
                                <span class="key">
                                    Type:
                                </span>
                                <a href="{{ page.type-href }}">
                                    {{ page.type }}
                                </a>
                            </li>
                            <li>
                                <span class="key">
                                    Title:
                                </span>
                                <span class="value">
                                    {{ page.file-title }}
                                </span>
                            </li>
                            <li>
                                <span class="key">
                                    Description:
                                </span>
                                <span class="value">
                                    {{ page.file-desc }}
                                </span>
                            </li>
                            <li>
                                <span class="key">
                                    Links:
                                </span>
                                {{ page.links }}
                                </span>
                            </li<
                            <li>
                                <span class="key">

                                </span>
                                <span class="value">
                                    {{ page.file-label-title }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div id="contents">
                        <ul>
                            <li>
                                <h3>Title: {{ page.file-title }} </h3>
                            </li>
                            <li>
                                <h4>Author: {{ page.file-author }}</h4>
                            </li>
                            <li>
                                <h4>Revised: {{ page.file-revised }}</h4>
                            </li>
                        </ul>
                        {{ content }}
                    </div>
                    <!-- END OF PAGE CONTENT -->
                </main>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
