s:w!DOCTYPE HTML>
<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/css/info.css"/>
        <link rel="icon" href="/resources/icons/favicon{{ page.favicon }}.png" type="image/png"/>
        <meta name="keywords" content="Kyle Belveal, keelbeelveel, computer science, computer engineering, computer, CS, CE, EECS, engineering, projects, project, {{ page.keywords }}"/>
        <!-- Layout type = info_project   -->
        <!-- Layout revised 6/26/2020 02:48pm -->
    </head>
    <body>
        {% if page.banner %}
        {% capture page_banner %}{{ page.banner }}{% endcapture %}
        {% include header.html banner=page_banner %}
        {% else %}
        {% include header.html %}
        {% endif %}
        <div id="body" s="contains-flex">
            <div id="page-container" class="scroll">
                <div id="content-wrap" class="content-wrap">
                    <main>
                        <div id="subtiles" class="tile">
                            <div id="id-info" class="subtile">
                                <img src="{{ page.icon}}" alt="Icon" class="icon">
                                {{ page.proj-title }}
                                {{ page.proj-desc }}
                                {% include code_types/{{ page.type }} %}
                                {{ page.type }}
                                {{ page.links }}
                            </div>
                            <div class="subtile">
                                <p>Title: {{ page.proj-title }} </p>
                                <p>Author: {{ page.proj-author }}</p>
                                <p>Revised: {{ page.proj-revised }}</p>
                            </div>
                        </div>
                </div>
                <div class="tile">

                    {{ content }}
                </div>
                    </main>
            </div>
        </div>
        <!-- END OF PAGE CONTENT -->
        </div>
        {% include footer.html %}
    </body>
</html>
