<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- Link to main stylesheet-->
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="Kyle Belveal, keelbeelveel, computer science, computer engineering, computer, CS, CE, EECS, electrical engineering, engineering, projects, project, python, c++, html, css, verilog, {{ page.keywords }}"/>
        <meta name="author" content="Kyle Belveal"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="revised" content="{{ page.revised }}"/>
        <!-- Layout type - working_splash    -->
        <!-- Layout revised 5/27/2020 6:07pm -->
    </head>
    <body style="color: #00ff00; background-color: #1c1b1a">
        <div id="page-container">
            <header style = "background-color: #242321">
                <h1 style="color: #87ff00">Kyle Belveal's project site</h1>
                <nav>
                    <h3 style="color: #d7005f">
                        <a style="color:#d7005f" href = "/index.html">Home</a>
                        <a style="color:#d7005f" href = "/projects/projects.html">Projects</a>
                        <a style="color:#d7005f" href = "/hardware.html">Hardware</a>
                        <a style="color:#d7005f" href = "/midware.html" >Midware</a>
                        <a style="color:#d7005f" href = "/software/software.html">Software</a>
                        <a style="color:#d7005f" href = "https://delaware.gov/" target = "_blank">Delaware</a>
                    </h3>
                </nav>
                <hr style="border: 2px solid #d7d7ff"/>
            </header>
            <div class="content-wrap">
                 <main>
                     <section>
                         <h2 style="color: #d7ff00">
                             Hiya! This page isn't quite ready for mortal eyes yet.
                         </h2>
                         <h6 style="color: #87ff00">
                             <small><i>
                                     (but if you promise not to tell anyone, I can let you have a sneak peek)
                             </small></i>
                         </h6>
                     </section>
                     <section>
                         {{ content }}
                     </section>
                 </main>
            </div>
        </div>
        <footer id="footer">
            <span> Powered By
                <a style="color:#d7005f" href="https://github.com/keelbeelveel/keelbeelveel.github.io">
                    GitHub
                </a>
            </span>
        </footer>
    </body>
</html>

