
<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/infoex.css"/>
        <link rel="icon" href="/resources/icons/favicon-working.png" type="image/png"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="Kyle Belveal, keelbeelveel, computer science, computer engineering, computer, CS, CE, EECS, engineering, projects, project, {{ page.keywords }}"/>
        <meta name="author" content="Kyle Belveal"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="revised" content="{{ page.revised }}"/>
        <!-- Layout type = working_splash     -->
        <!-- Layout revised 6/13/2020 02:44pm -->
    </head>
    <div id="body">
        <body>
            <div id="page-container">
                {% include header.html %}
                <div class="content-wrap">
                    <main>
                        <section>
                            <h2 class="text">
                                Hiya! This page isn't quite ready for mortal eyes yet.
                            </h2>
                            <h6 class="text"> 
                                <small><i>
                                        (but if you promise not to tell anyone, I can let you have a sneak peek)
                                </small></i>
                            </h6>
                        </section>
                        <section>
                            {{ content }}
                        </section>
                    </main>
                </div>
            </div>
            {% include footer.html %}
        </body>
    </div>
</html>
